haozi/Message.wsdl

<?xml version="1.0" ?>
<definitions name="Message" targetNamespace="urn:Message" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Message" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="MessagePort"><operation name="__destruct">
<input message="tns:__destructRequest" />
<output message="tns:__destructResponse" />
</operation>
<operation name="addMessage">
<input message="tns:addMessageRequest" />
<output message="tns:addMessageResponse" />
</operation>
<operation name="queryMessageByName">
<input message="tns:queryMessageByNameRequest" />
<output message="tns:queryMessageByNameResponse" />
</operation>
<operation name="readMessage">
<input message="tns:readMessageRequest" />
<output message="tns:readMessageResponse" />
</operation>
</portType>
<binding name="MessageBinding" type="tns:MessagePort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="__destruct">
<soap:operation soapAction="urn:Message#Message#__destruct" />
<input><soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="addMessage">
<soap:operation soapAction="urn:Message#Message#addMessage" />
<input><soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="queryMessageByName">
<soap:operation soapAction="urn:Message#Message#queryMessageByName" />
<input><soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="readMessage">
<soap:operation soapAction="urn:Message#Message#readMessage" />
<input><soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Message" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="Message">
<documentation />
<port name="MessagePort" binding="tns:MessageBinding"><soap:address location="http://my.test/haozi/Message_server.php" />
</port>
</service>
<message name="__destructRequest">
</message>
<message name="__destructResponse">
<part name="__destruct" type="xsd:string" />
</message>
<message name="addMessageRequest">
<part name="message_senderId" type="xsd:string" />
<part name="message_receiverId" type="xsd:string" />
<part name="message_type" type="xsd:string" />
<part name="message_title" type="xsd:string" />
<part name="message_labels" type="xsd:string" />
<part name="message_topicID" type="xsd:string" />
</message>
<message name="addMessageResponse">
<part name="addMessage" type="xsd:string" />
</message>
<message name="queryMessageByNameRequest">
<part name="message_receiverId" type="xsd:string" />
</message>
<message name="queryMessageByNameResponse">
<part name="queryMessageByName" type="xsd:string" />
</message>
<message name="readMessageRequest">
<part name="message_id" type="xsd:string" />
</message>
<message name="readMessageResponse">
<part name="readMessage" type="xsd:string" />
</message>
</definitions>