haozi/Topic.wsdl

<?xml version="1.0" ?>
<definitions name="Topic" targetNamespace="urn:Topic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Topic" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="TopicPort"><operation name="__destruct">
<input message="tns:__destructRequest" />
<output message="tns:__destructResponse" />
</operation>
<operation name="newTopic">
<input message="tns:newTopicRequest" />
<output message="tns:newTopicResponse" />
</operation>
</portType>
<binding name="TopicBinding" type="tns:TopicPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="__destruct">
<soap:operation soapAction="urn:Topic#Topic#__destruct" />
<input><soap:body use="encoded" namespace="urn:Topic" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Topic" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="newTopic">
<soap:operation soapAction="urn:Topic#Topic#newTopic" />
<input><soap:body use="encoded" namespace="urn:Topic" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Topic" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="Topic">
<documentation />
<port name="TopicPort" binding="tns:TopicBinding"><soap:address location="http://my.test/Topic_server.php" />
</port>
</service>
<message name="__destructRequest">
</message>
<message name="__destructResponse">
<part name="__destruct" type="xsd:string" />
</message>
<message name="newTopicRequest">
<part name="receiver_id" type="xsd:string" />
<part name="owner_name" type="xsd:string" />
<part name="room_type" type="xsd:string" />
<part name="room_title" type="xsd:string" />
<part name="room_labels" type="xsd:string" />
</message>
<message name="newTopicResponse">
<part name="newTopic" type="xsd:string" />
</message>
</definitions>