host/Label.wsdl

<?xml version="1.0" ?>
<definitions name="Label" targetNamespace="urn:Label" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Label" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="LabelPort"><operation name="getLabels">
<input message="tns:getLabelsRequest" />
<output message="tns:getLabelsResponse" />
</operation>
<operation name="checkLabelUpdate">
<input message="tns:checkLabelUpdateRequest" />
<output message="tns:checkLabelUpdateResponse" />
</operation>
<operation name="checkLabelUpdateAndDown">
<input message="tns:checkLabelUpdateAndDownRequest" />
<output message="tns:checkLabelUpdateAndDownResponse" />
</operation>
<operation name="updateLabel">
<input message="tns:updateLabelRequest" />
<output message="tns:updateLabelResponse" />
</operation>
<operation name="checkagent">
<input message="tns:checkagentRequest" />
<output message="tns:checkagentResponse" />
</operation>
<operation name="checkToken">
<input message="tns:checkTokenRequest" />
<output message="tns:checkTokenResponse" />
</operation>
<operation name="logCallMethod">
<input message="tns:logCallMethodRequest" />
<output message="tns:logCallMethodResponse" />
</operation>
<operation name="getCurrentUsername">
<input message="tns:getCurrentUsernameRequest" />
<output message="tns:getCurrentUsernameResponse" />
</operation>
</portType>
<binding name="LabelBinding" type="tns:LabelPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="getLabels">
<soap:operation soapAction="urn:Label#Label#getLabels" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="checkLabelUpdate">
<soap:operation soapAction="urn:Label#Label#checkLabelUpdate" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="checkLabelUpdateAndDown">
<soap:operation soapAction="urn:Label#Label#checkLabelUpdateAndDown" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="updateLabel">
<soap:operation soapAction="urn:Label#Label#updateLabel" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="checkagent">
<soap:operation soapAction="urn:Label#Label#checkagent" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="checkToken">
<soap:operation soapAction="urn:Label#Label#checkToken" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="logCallMethod">
<soap:operation soapAction="urn:Label#Label#logCallMethod" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="getCurrentUsername">
<soap:operation soapAction="urn:Label#Label#getCurrentUsername" />
<input><soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:Label" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="Label">
<documentation />
<port name="LabelPort" binding="tns:LabelBinding"><soap:address location="http://yiquanhost.oneto-tech.com/Label_server.php" />
</port>
</service>
<message name="getLabelsRequest">
</message>
<message name="getLabelsResponse">
<part name="getLabels" type="xsd:string" />
</message>
<message name="checkLabelUpdateRequest">
<part name="localtime" type="xsd:string" />
</message>
<message name="checkLabelUpdateResponse">
<part name="checkLabelUpdate" type="xsd:string" />
</message>
<message name="checkLabelUpdateAndDownRequest">
<part name="localtime" type="xsd:string" />
</message>
<message name="checkLabelUpdateAndDownResponse">
<part name="checkLabelUpdateAndDown" type="xsd:string" />
</message>
<message name="updateLabelRequest">
<part name="label_type" type="xsd:string" />
<part name="label_name" type="xsd:string" />
<part name="label_pic" type="xsd:string" />
</message>
<message name="updateLabelResponse">
<part name="updateLabel" type="xsd:string" />
</message>
<message name="checkagentRequest">
</message>
<message name="checkagentResponse">
<part name="checkagent" type="xsd:string" />
</message>
<message name="checkTokenRequest">
</message>
<message name="checkTokenResponse">
<part name="checkToken" type="xsd:string" />
</message>
<message name="logCallMethodRequest">
<part name="user_name" type="xsd:string" />
<part name="classandname" type="xsd:string" />
</message>
<message name="logCallMethodResponse">
<part name="logCallMethod" type="xsd:string" />
</message>
<message name="getCurrentUsernameRequest">
</message>
<message name="getCurrentUsernameResponse">
<part name="getCurrentUsername" type="xsd:string" />
</message>
</definitions>